<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <music>
    text=Play music on startup
    type=bool
    value=false
  </music>
  <level>
    text=Default level
    type=label
    value=level0.xml
  </level>
  <seq1>
    text=Show Party Sequence
    type=bool
    value=false
  </seq1>
</Settings>